body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0ece3; }

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  margin-top: 70px;
  text-align: center; }
  .main h1 {
    margin-top: 0px;
    margin-bottom: 50px; }
  .main Button {
    margin: 20px 20px 0px 20px;
    color: white; }
  .main .begin-button {
    background-color: #0fabbc;
    color: white; }
    .main .begin-button:hover {
      background: #0b7f8b; }
  .main .true-button {
    background: #438a5e; }
    .main .true-button:hover {
      background: #387550; }
  .main .false-button {
    background: #c41414; }
    .main .false-button:hover {
      background: #ad1414; }

.result-container {
  display: flex !important;
  flex-direction: column; }
  .result-container h1 {
    text-align: center; }
  .result-container .answer-container {
    display: flex; }
    .result-container .answer-container p {
      margin: 5px; }
    .result-container .answer-container .check-icon {
      color: #387550; }
    .result-container .answer-container .cancel-icon {
      color: #ad1414; }
  .result-container Button {
    background-color: #0fabbc;
    align-self: center;
    color: #f0ece3; }
    .result-container Button:hover {
      background: #0b7f8b; }

.footer {
  padding: 11px 16px;
  margin-top: auto;
  background-color: #596e79;
  color: #f0ece3; }
