body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  margin-top: 100px;
  text-align: center; }
  .main h1 {
    margin-bottom: 50px; }

.result-container {
  display: flex !important;
  flex-direction: column; }
  .result-container h1 {
    text-align: center; }
  .result-container .answer-container {
    display: flex; }
    .result-container .answer-container p {
      margin: 5px; }
  .result-container Button {
    align-self: center; }

.footer {
  padding: 24px 16px;
  margin-top: auto;
  background-color: #eeeeee; }
